<div class="category-summary" onClick={{action "showCategoryItems"}}>
  <div class="category-summary__image">
    <img src={{category.image}} alt="">
  </div>
  <div class="category-summary__label">{{category.name}}</div>
</div>
