.main-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__heading {
    flex: 1;
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }

  &__sub-heading {
    flex: 1;
  }
}
