<div class="text-button" {{action "onClick"}} role="button">
  {{#if linkTo}}
    {{#link-to linkTo class="text-button__link"}}
      {{buttonLabel}}
    {{/link-to}}
  {{else}}
    {{buttonLabel}}
  {{/if}}
</div>
